html, body {
    display: grid;
    margin: 0px;
}

input[type='text'] {
    height: 30px;
    width: 500px;
}

input[type='image']{
    height: 30px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;

    grid-template-columns: minmax(0, 1fr) minmax(0, 5fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 5fr);
}

.sidebar {
    background-color: rgb(68, 68, 255);

    display: grid;

    grid-row: 1 / 3;
    grid-column: 1 / 2;

    text-align: center;
}

.header {
    background-color: rgb(35, 185, 72);

    grid-row: 1 / 2;
    grid-column: 2 / 3;

    /*
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    */
}

.projects {
    background-color: rgb(255, 255, 52);

    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.bell img {
    height: 50px;
    width: 50px;
    
}

.profileGroup{
    display: flex;
    padding: 10px;

    align-items: center;
    justify-content: center;
}
.Links a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.Links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logoText {
    font-size: 30px;
    color: white;
}

.topRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.bottomRow {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}



.articles {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;

}

.feed {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.buttons {
    display: flex;
    
    gap: 15px;
    align-items: center;
}

p.username {
    font-size: 25px;
    font-weight: 600;
}

p.usernameSmall {
    font-size: 20px;
    font-weight: 600;
}

p.title {
    font-weight: bold;
}

.logos img {
    height: 20px;
}

.logos {
    display: flex;
    margin-top: auto;
    justify-content: end;
    gap: 10px;
}
.buttons button{
    height: 45px;
    width: 100px;
    border-radius: 30%;
    background-color: rgb(131, 131, 253);
}

.avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  .userNameLogo {
    display: flex;
    gap: 10px;
  }

  .avatarBig {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .topSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

.profileGroup {
    padding: 10px;
    gap: 10px;
}


.profilePicName {
    display: flex;
    gap: 10px;

    align-items: center;
    justify-content: center;
}

.projects {
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/*
.intro {
    display: grid;

    align-items: center;
    justify-content: center;
}
*/
.articleSection {
    display: grid;

    grid-area: 1 / 1 / 3 / 3;

    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr;
    padding: 10px;
}

#articleHeadline div{
    grid-area: 1 / 1 / 2 / 3;
}

.articles {
    display: grid;

    grid-area: 2 / 1 / 3 / 3;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);

    gap: 10px;
}

.card {
    padding: 15px;
    background-color: white;
    gap: 15px;
}

.headline{
    font-size: 20px;
    font-weight: 200;
}

.feed {
    grid-area: 1 / 3 / 2 / 4;

    background-color: rgb(228, 6, 228);
    padding: 10px;
}

.trending {

    grid-area: 2 / 3 / 3 / 4;
    background-color: rgb(255, 80, 80);
    padding: 10px;
}

